pip==21.1.1
MarkupSafe==1.1.1
Werkzeug==1.0.1
wheel==0.36.2
setuptools==53.0.0
click==7.1.2
dash==1.19.0
dash-bootstrap-components==0.11.2
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
pandas
numpy
kafka-python
